*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cast-wrap::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin:16px;
}
.cast-wrap::-webkit-scrollbar-track {
  background: #000000; 
  border-radius: 10px;
  margin: 16px;
}

.cast-wrap::-webkit-scrollbar-thumb {
  background: rgb(83, 82, 82);
  border-radius: 10px;
}

.active-link{
  color: red;
  /* font-size: 30px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
